<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header class="main-header" >
        <div class="main-header-top-bar">
            <img class="logo" src= "/images/logo-mercado-liebre.svg" alt="logo">
            <form class="la-barra" action="" method="POST">
                <input type = "text" placeholder="Buscar productos, marcas "  class="barra-busqueda"> 
                <i class="fas fa-search"></i> 
            </form>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <a href="#" class="burguer-menu" >
            <i   class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#Ofertas">Ofertas</a> </li>
                <li><a href="#Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="#Vender">Vender</a></li>
                <li><a href="#Ayuda">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Crea tu cuenta <i class="far fa-address-card"></i> </a> </i></li>
                <li><a href="#Ingresá">Ingresá <i class="fas fa-sign-in-alt"></i></a>  </li>
                <li><a href="#Mis compras">Mis compras <i class="fas fa-shopping-cart"></i> </a>  </li>
            </ul>
        </nav>
    </header>  
    <form class="login" action="/login" method="POST">
            <h3>Iniciar sesion</h3>
            <input class="inputlogin" type="text" name="usuario-login" value="usuario-login" placeholder="Nombre de Usuario" required>
            <input class="inputlogin" type="password" name="contraseña" value="contraseña" placeholder="Contraseña" required>
            <p class="buttonlogin">
                <a href="/home" >Enviar</a>
            </p>
    </form>
</body>
<footer class="footer-login" >
    <div class="footer-flex">
        <section  class = "centrado "  >
            <div class="icono"><i class="fas fa-credit-card"></i></div>
            <h4 >Paga con tarjeta o en efectivo</h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section class = "centrado " >
            <div class="icono"><i class="fas fa-gift"></i></div>
            <h4>Envio gratis desde $2.500</h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class = "centrado " >
            <div   class="icono"><i class="fas fa-user-shield"></i></div>
            <h4  > Seguridad de principio a fin</h4>
            <p >
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.            
            </p>
        </section>
    </div>
    <section >
        <p class="copyright">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
    </section>
</footer>

</html>